{% extends "admin/base.html" %}
{% block title %}{% if form.instance %}Edit{% else %}New{% endif %} Post{% endblock %}
{% block body %}
  <h2>{% if form.instance %}Edit{% else %}New{% endif %} Page</h2>
  <form method="post" action="">
    <table>
        <tbody>
            <tr>
                <td> {{ form.title.label }}</td><td>{{ form.title() }}</td>
            </tr>
            <tr>
                <td> {{ form.body.label }}</td><td>{{ form.body() }}</td>
            </tr>
            <tr>
                <td> {{ form.template.label }}</td><td>{{ form.template() }}</td>
            </tr>
            <tr>
                <td> {{ form.path.label }}</td><td>{{ form.path() }}</td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="xsrf" value="{{ ''|xsrf_token }}">
    <input type="submit" value="Submit page" />
  </form>
{% endblock %}
